{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <h1>Projects:</h1>
    <div class="row">
        {% for project in project_list %}
            <div class="col-md-4">

                <div class="card mb-2">
                    <div class="card-body">

                        <!-- Display index and name of project -->
                        <h5 class="card-title">{{ forloop.counter }}: {{ project.title }} </h5>

                        <!-- Display description of project -->
                        <p class="card-text"> {{ project.description }} </p>

                        <!-- Display image of project by setting base path as a variable -->
                        {% with "/projects/img/"|add:project.image as image_path %}
                        <img class="card-img-top" src="{% static image_path  %}", alt="image of project" width="300">
                        {% endwith %}

                        <!-- Display 'technology' attribute of project -->
                        <p class="card-title"> Technology: {{ project.technology }} </p>

                        <a href="#"
                            class="btn btn-primary">
                                Read More
                            </a>

                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>