{% extends 'projects/base.html' %}
{% load static %}
{% block content %}
    <h1>{{ project.title }}:</h1>

    <!-- Display description of project -->
    <p> {{ project.description }} </p>

    <!-- Display image of project by setting base path as a variable -->
    {% with "/projects/img/"|add:project.image as image_path %}
    <img src="{% static image_path  %}", alt="image of project" width="300">
    {% endwith %}

    <!-- Display 'technology' attribute of project -->
    <p> Technology: {{ project.technology }} </p>
{% endblock %}
